
<!DOCTYPE html>

<html>

<head>
    <style>
        table, th, td {
            border: 2px solid black;
            text-align: center
        }

        thead {
            background-color: dodgerblue;
            color: white;
            text-align: center
        }

        #Navbar h2 {
            display: inline-block;
            text-align: center;
            color: dodgerblue;
            text-decoration: underline;
        }

        .errorStyle {
            background-color: #ffd800;
            color: #808080;
            font-size: 13px;
            padding: 5px 5px;
            border-radius: 5px;
            margin-top: 7px;
        }

        .validationMessage {
            color: #f00;
        }

        .customMessage {
            color: #FFA500;
        }
        
    </style>



</head>

<body>
    <script>
    var MyAppUrlSettings = {
        MyUsefulUrl: '@Url.Action("GetData", "ProductOrder")'
    }

    var Edit_PO_URL = {
        MyEdit_PO_URL: '@Url.Action("Update", "ProductOrder")'
    }

    var POhead_URL = {
        MyPOheadURL:'@Url.Action("GetPOheadData", "ProductOrder")'
    }

    var Edit_PO_line = {
        EditPOline:'@Url.Action("UpdatePOline", "ProductOrder")'
    }
    </script>

    <script id="customMessageTemplate" type="text/html">
        <!--
        -->
        <em class="customMessage" data-bind="validationMessage: field"></em>
    </script>

    <fieldset>
        <legend class="well">
            User: <strong data-bind="text: ProductOrderViewModel.errors().length"></strong> errors
        </legend>
        <div id="Navbar">
            <h2>Purchase order <span data-bind="text: getSeletedPO ().Order_No"></span></h2>
        </div>

        <h1 id="cancelPO" data-bind="visible:getSeletedPO().Cancel == true" style="color:red">
            Warning: This PO cannot be modified because already cancelled.
        </h1>
        <h1></h1>
        <div class="container" style="border:1px solid #cecece;">
            <div class="row">
                <h1></h1>
                <div class="col-sm-4">
                    <p>Supplier:<span style="margin-left: 50px;"><input type="text" data-bind="value:getSeletedPO() .Supplier ,enable:false " /></span> </p>
                    <h1></h1>
                    <p>Stock Site:<span style="margin-left: 38px;"><input type="text" data-bind="value:getSeletedPO() .Stock_Site ,enable:false " /></span> </p>
                    <h1></h1>
                    <p>Order Date:<span style="margin-left: 30px;"><input type="date" data-bind="value: getSeletedPO() .Order_Date ,enable:getSeletedPO().Cancel != true " /></span> </p>
                    <h1></h1>
                    <p>Note: <span style="margin-left: 30px;"><textarea data-bind="textInput: getSeletedPO() .Note,enable:getSeletedPO().Cancel != true " rows="4" cols="50"> </textarea> </span>
                </div>

                <div class="col-sm-2"></div>

                <div class="col-sm-5">
                    <div class="row">Supplier name:<span style="margin-left: 10px;"><input type="text" data-bind="value: getSeletedPO() .Supplier_name ,enable:false " /></span> </div>
                    <h1></h1>
                    <div class="row">Stock Name:<span style="margin-left: 22px;"><input type="text" data-bind="value: getSeletedPO() .Stock_Name ,enable:getSeletedPO().Cancel != true " /></span> </div>
                    <h1></h1>
                    <div class="row">
                        Address<span style="color: red" ;>*: </span><span style="margin-left: 35px;"> <textarea data-bind="value: getSeletedPO().Address,enable:getSeletedPO().Cancel != true" rows="4" cols="30"> </textarea> </span>
                        <h1></h1>
                    </div>

                    <div class="row">
                        Country<span style="color: red">*: </span> <span style="margin-left: 38px;"><input type="text" data-bind="value: getSeletedPO().Country ,enable:getSeletedPO().Cancel != true " /></span>
                    </div>

                    <h1></h1>

                    <div class="row">
                        Postcode<span style="color: red">*: </span> <span style="margin-left: 28px;"><input type="text" data-bind="value: getSeletedPO().Post_Code ,enable:getSeletedPO().Cancel != true " /></span>
                    </div>

                </div>
            </div>
            <h1></h1>

        </div>
    </fieldset>

    <h1></h1>

    <fieldset>
        <div>
            <table style="width:100%">
                <thead><tr><th>Part_Number</th><th>Part_Des</th><th>Manufacturer</th><th>Qty_Order</th><th>Order_Date</th><th>Memo</th><th>Total Price (£)</th><th></th></tr></thead>
                <tbody data-bind="foreach: POitems">
                    <tr>
                        <td data-bind="text: Part_Number"></td>
                        <td data-bind="text: Part_Des"></td>
                        <td data-bind="text: Manufacturer"></td>
                        <td class="row"><input data-bind="value: Qty_Order  " /> </td>
                        <td><input type="text" data-bind="value: Order_Date  " /></td>
                        <td> <input type="text" data-bind="value: Memo  " /></td>
                        <td data-bind="text: Buy_Price "></td>
                        <td> <b style="color:red ; font-size:20px " href="#" data-bind="click:$root.RemovePOline ">ⓧ</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div>
        <label>Purchase order price (£) </label>
        <input data-bind="value:PO_price ,enable:false" />

    </div>
    @*<div>
        <a href="#" data-bind="click: $root.AddPOlines">Add Purchase order line</a>
    </div>*@

    <fieldset>
        <button type="button" data-bind='enable: getSeletedPO().Cancel != true,click: submit'>Submit</button>
        &nbsp;
    </fieldset>
    <button id="check" data-bind="enable: getSeletedPO().Cancel != true,click: EditPO">Save</button> <span><button data-bind="enable: getSeletedPO().Cancel != true,click: $root.CancelPO">Cancel PO</button></span>

    


    <p id="demo"></p>



    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/knockout.min.js"></script>
    <script src="~/Scripts/knockout.validation.js"></script>
    <script src="~/Scripts/POlist.js"></script>


    <div>
        @Html.ActionLink("Back to PO list", "ProductOrder")
    </div>
</body>
</html>